*.pyc
*.blend1
*.tmp
*.egg-info*
**.so
data/placement_poses
data/object_models
data/**.sdf
dexnet/**/*.sdf
*.stl
**.o
my_cpp/build
*.obj
*.ply
*.pkl
*.mtl
*.tar.gz
*/robotiq_hande/gripper_air_tight.sdf
*/robotiq_hande/gripper_enclosed_air_tight.sdf
artifacts/
*.zip
core
dataset/
logs/
.vscode/